#box {
  position: relative;
  background-color: black;
  height: 700px;
  width: 300px;
  padding: 20px;
}

.green {
  background-color: green;
  opacity: .3;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 30px;

}

.red {
  background-color: red;
  opacity: .3;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 30px;

}

.yellow {
  background-color: yellow;
  opacity: .3;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 30px;
  
}

.red:hover {
  opacity: 1;
   border: 1px solid;
    box-shadow: 0 0 30px red;
}

.yellow:hover {
  opacity: 1;
  border: 1px solid;
  box-shadow: 0 0 30px yellow;
}

.green:hover {
  opacity: 1;
  border: 1px solid;
  box-shadow: 0 0 30px green;