body {

  font-family: 'lato', sans-serif;
  font-size: 18px;
  margin-right: 200px;
  margin-left: 200px;
}

p#firstpara:first-letter{ 
  float: left; 
  color: grey; 
  font-size: 4em; 
  line-height: 60px; 
  padding-top: 4px; 
  padding-right: 8px; 
  padding-left: 3px; }

p#secondpara:first-letter{ 
  float: left; 
  color: grey; 
  font-size: 4em; 
  line-height: 60px; 
  padding-top: 4px; 
  padding-right: 8px; 
  padding-left: 3px; }


#header {
	color: #DC143C;
	font-size: 2.5em;
	font-weight: 100;
}

#subheader {
	font-size: 1.4em;
	font-weight: 100;
}

#topnav {
	padding: 10px;
	font-size: 1.1em;
	font-weight: 100;

}

#topnav a {
	margin-right: 10px;
  color: gray;
  padding-bottom: 2px;
  text-decoration: none;
  border-bottom: 2px solid grey;
}


.continue {
	color: red;
	float: right;
}

.date {
	color: gray;
	font-size: 2em;
	font-weight: 100;
  margin-bottom: 7px;

}

.postTitle {
	font-family: "Lato", sans-serif;
	font-size: 2em;
	font-weight: 300;
  margin-top: 7px;
  margin-bottom: 15px;

}

.heroImage {
  height: 300px;
  width: 100%;
  background-color: gray;
}

#bottomnav a {
  color: crimson;
  font-weight: 100;
  font-size: .8em;
  text-decoration: none;
}
